


*{
   margin: 0px;
   padding: 0px;

}
body{
   background-color: rgb(198, 173, 153);
  
}
#container{
  margin-left: 150px;
  
  margin-top: 10px;
}
#container ul{
   list-style: none;
}
#container ul li{
   background-color: rgb(15, 15, 201);
   /* background-color: transparent; */
   width: 20%;
   border-radius: 10px;
   /* width: 100px; */
   height: 50px;
   border: 1px solid white;
   line-height: 50px;
   text-align: center;
   float: left;
   position: relative;
}
#container ul li a{
   text-decoration: none;
   font-size: 19px;
}
#container ul li:hover{
   background-color: bisque;
   transition: 0.5s;
}
#container ul li ul li {
   width: 100%;
}
#container ul li ul{
   display: none;
}
#container ul li:hover > ul{
   display: block;
}
/* #container ul li ul li ul li
{  
   width: 100%;
} */
#container ul ul ul {
   top: 0;
   position: absolute;
   margin-left: 100%;
   width: 100%;
   
}