body{
   background-color: rgb(101, 214, 20);
}


*{
   margin: 0px;
   padding: 0px;

}
body{
   background-color: aquamarine;
  
}
#container{
  margin-left: 150px;
  
  margin-top: 10px;
}
#container ul{
   list-style: none;
}
#container ul li{
   background-color: rgb(129, 129, 193);
   width: 20%;
   /* width: 100px; */
   height: 50px;
   border: 1px solid white;
   line-height: 50px;
   text-align: center;
   float: left;
   position: relative;
}
#container ul li a{
   text-decoration: none;
   font-size: 19px;
}
#container ul li:hover{
   background-color: bisque;
   transition: 0.5s;
}
#container ul li ul li {
   width: 100%;
}
#container ul li ul{
   display: none;
}
#container ul li:hover > ul{
   display: block;
}
/* #container ul li ul li ul li
{  
   width: 100%;
} */
#container ul ul ul {
   top: 0;
   position: absolute;
   margin-left: 100%;
   width: 100%;
   
}